@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="row">
    @foreach (var item in Model.Products)
	{
        <div class="col-md-3 mb-4">
            <div class="product-image">
                <img src="~/img/product/@item.PictureUri" alt="@item.Name" class="w-100" />
            </div>
            <div class="product-name">
                @item.Name
            </div>
            <div>
                @item.Price.ToString("c2")
            </div>
        </div>
	}
</div>